</div>
<footer class="ui inverted vertical footer segment" id="footer">
    <div class="ui container">
        <div class="ui stackable inverted stackable grid">
            <div class="five wide column">
                <h4 class="ui inverted header">Contact Me:</h4>
                <div class="ui inverted link list">
                <div href="#" class="item">Mauricio Sarmiento</div>
                <a href="mailto:micho.sarmiento.b@gmail.com" class="item">Email: micho.sarmiento.b@gmail.com</a>
                <div href="#" class="item">Phone: +1 816-405-0446</div>
                <div href="#" class="item">Seattle, WA</div>
                </div>
            </div>
            <div class="four column SMedia">
				<a href="https://www.facebook.com/micho.sarmiento" target="_blank">
					<i class="huge facebook square icon"></i>
				</a>
				<a href="https://twitter.com/MichoSarmiento?lang=en" target="_blank">
					<i class="huge twitter icon"></i>
				</a>
                <a href="https://www.instagram.com/michosarmiento/?hl=en" target="_blank">
                    <i class="huge instagram icon"></i>
                </a>
                <a href="https://github.com/MauricioS93" target="_blank">
                    <i class="huge github icon"></i>
                </a>
			</div>
        </div>
    </div>
</footer>



<script src="http://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js"></script>
<script type="text/javascript" src="/js/navbar.js"></script>
</body>
</html>