<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <link rel="stylesheet" href='/stylesheets/style.css'>
    <link rel="stylesheet" href='/stylesheets/landing.css'>
</head>

    <div class="ui fixed menu" id="desktop">
        <div class="ui container">
            <a href="/" class="header item"><i class="book icon"></i>WebDev Blog</a>
            <a href="/blogs" class="item">Home</a>
            <a href="/blogs/new" class="item">New Blog</a>
            <a href="/users" class="item">Users</a>
            <div class="ui simple dropdown item">
                Topics <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item"><i class="edit icon"></i> CSS</a>
                    <a class="item"><i class="globe icon"></i> Javascript</a>
                    <a class="item"><i class="settings icon"></i>Algorithms & CS</a>
                </div>
            </div> 
            <div class="right menu">
                <% if(!currentUser) {%>
                    <a href="/register"class="item">Sign Up</a>
                    <a href="/login"class="item">Log In</a>
                <%} else {%>
                    <a href="#"class="item">Signed In As <%= currentUser.username %></a>
                    <a href="/logout"class="item">Log Out</a>
                <% } %>    
            </div>
        </div>
    </div>

    <!-- =================== -->
    <!-- Mobile Header       -->
    <!-- =================== -->

    <div class="ui left vertical sidebar menu" id="mobile">
        <div class="item navbar">
            <i class="book icon center"></i><strong>WebDev Blog</strong>
        </div>
        <% if(currentUser) {%>
            <div class="item">Signed In As <%= currentUser.username %></div>
        <% } %>
        <a href="/" class="item">
            <i class="home icon center"></i>
            Home
        </a>
        <a href="/blogs/new" class="item">
            <i class="plus icon center"></i>
            New Blog
        </a>
        <div class="ui dropdown item">
            <i class="dropdown icon"></i>
            Topics
            <div class="menu">
                <a class="item"><i class="edit icon"></i> CSS</a>
                <a class="item"><i class="globe icon"></i> Javascript</a>
                <a class="item"><i class="settings icon"></i>Algorithms & CS</a>
            </div>
        </div>
        <% if(!currentUser) {%>
            <a href="/register" class="item">
                <i class="user icon center"></i>
                Register
            </a> 
            <a href="/login" class="item">
                <i class="sign in icon center"></i>
                Login
            </a> 
        <% } else { %>
            <a href="/logout" class="item">
                <i class="sign out icon center"></i>
                Logout
            </a> 
        <% } %>
    </div>
    <div class="ui basic icon top fixed menu" id="mobile">
        <a id="toggle" class="item">
            <i class="sidebar icon"></i>Menu
        </a>
    </div>