<% include ./partials/header%>
  
  <!-- Page Contents -->
    <div class="ui inverted vertical masthead center aligned segment" id="lan-header">
      <div class="ui text lan-head-container">
        <h1 class="lan-head-center">Web Development</h1>
        <h2 class="lan-head-center">Do whatever you want when you want to.</h2>
      </div>
    </div>
  
   <div class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="eight wide column">
            <h3 class="ui header">We Help Companies and Companions</h3>
            <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
            <h3 class="ui header">We Make Bananas That Can Dance</h3>
            <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
          </div>
          <div class="six wide right floated column">
            <img src="https://images.unsplash.com/photo-1478033394151-c931d5a4bdd6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=17d2798bb3e28902f41b86c4dc1892ad&auto=format&fit=crop&w=968&q=80" class="ui large bordered rounded image">
          </div>
        </div>
        <div class="row">
            <div id="search-landing">
              <form class="ui form" action="/blogs" method="GET">
                <div class="ui category search">
                  <div class="ui icon input">	
                    <input type="text" name="search" placeholder="Search Blog by Title or Tag...">	
                  </div>
                  <button class="ui button center">Search</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>

    <div class="ui container grid middle-content">
        <div class="four wide column">
            <div class="ui card">
                <div class="image">
                  <img src="https://images.unsplash.com/photo-1483970605215-5afb7e01b06d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a0228f60760df6e49b8426d4a05f81b8&auto=format&fit=crop&w=1050&q=80">
                </div>
                <div class="content">
                  <a class="header">Kristy</a>
                  <div class="description">
                    Kristy is an art director living in New York.
                  </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui card">
                <div class="image">
                  <img src="https://images.unsplash.com/photo-1483970605215-5afb7e01b06d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a0228f60760df6e49b8426d4a05f81b8&auto=format&fit=crop&w=1050&q=80">
                </div>
                <div class="content">
                  <a class="header">Kristy</a>
                  <div class="description">
                    Kristy is an art director living in New York.
                  </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui card">
                <div class="image">
                  <img src="https://images.unsplash.com/photo-1483970605215-5afb7e01b06d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a0228f60760df6e49b8426d4a05f81b8&auto=format&fit=crop&w=1050&q=80">
                </div>
                <div class="content">
                  <a class="header">Kristy</a>
                  <div class="description">
                    Kristy is an art director living in New York.
                  </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui card">
                <div class="image">
                  <img src="https://images.unsplash.com/photo-1483970605215-5afb7e01b06d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a0228f60760df6e49b8426d4a05f81b8&auto=format&fit=crop&w=1050&q=80">
                </div>
                <div class="content">
                  <a class="header">Kristy</a>
                  <div class="description">
                    Kristy is an art director living in New York.
                  </div>
                </div>
            </div>
        </div>
    </div>
<% include ./partials/footer%>