<% include ./partials/header%>
  
<!-- Page Contents -->
<div class="ui inverted vertical masthead center aligned segment" id="lan-header">
  <div class="ui text lan-head-container">
    <h1 class="lan-head-center"> Resources for Web Development </h1>
    <h2 class="lan-head-center"> HTML, CSS, JAVASCRIPT, MEAN STACK, BOOTCAMP, OTHERS </h2>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">My Story on becoming a Web Developer</h3>
        <p>My name is Mauricio Sarmiento and I recently moved to Seattle. When I arrived to Seattle I started to be interested in Web Development and decided to teach myself how to code. This journey was not easy and I thought I could share with you valuable resources I used to learn. </p>
        <h3 class="ui header">What does this website offer?</h3>
        <p>When I first started coding, I faced the problem any newbie faces, there are a lot of resources out there and as a newcomers we don't know what resources are good, should I pay or not, am I learning the right thing, etc. That's why this website can help you check the resources I used to teach myself how to code. You can also upload other resources you use, only create a username and start posting.</p>
      </div>
      <div class="six wide right floated column">
        <img src="https://images.unsplash.com/photo-1472437774355-71ab6752b434?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dd4d735954f33290fbf984e4eb7abe32&auto=format&fit=crop&w=967&q=80" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
        <div id="search-landing">
          <form class="ui form" action="/blogs" method="GET">
            <div class="ui category search">
              <div class="ui icon input">	
                <input type="text" name="search" placeholder="Search Blog by Title or Tag...">	
              </div>
              <button class="ui button center">Search</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>

<div class="ui container grid middle-content three column stackable">
    <div class="column">
        <div class="ui card landing-cards">
            <div class="image">
              <img src='/images/html-css.jpg'>
            </div>
            <div class="content">
              <a class="header">HTML & CSS</a>
              <div class="description">
                You will find HTML & CSS tutorials for beginners, this is where I started my journey.
              </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card landing-cards">
            <div class="image">
              <img src="/images/js.png">
            </div>
            <div class="content">
              <a class="header">JAVASCRIPT</a>
              <div class="description">
                  You will find JAVASCRIPT tutorials for beginners and intermediate levels.
              </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card landing-cards">
            <div class="image">
              <img src="/images/mean.jpg">
            </div>
            <div class="content">
              <a class="header">MEAN STACK</a>
              <div class="description">
                I started learning the MEAN stack, which includes mongoDb, express.js, Angular and nodejs.
              </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card landing-cards">
            <div class="image">
              <img src="/images/bootcamp.jpg">
            </div>
            <div class="content">
              <a class="header">WebDev Bootcamps</a>
              <div class="description">
                Mostly Udemy courses, they teach you front end and/or backend. Full Stack Development
              </div>
            </div>
        </div>
    </div>
    <div class="column">
      <div class="ui card landing-cards">
          <div class="image">
            <img src="/images/algorithm.png">
          </div>
          <div class="content">
            <a class="header">Algorithms</a>
            <div class="description">
              Some resources to practice algorithms for interview questions. 
            </div>
          </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card landing-cards">
          <div class="image">
            <img src="/images/cs.png">
          </div>
          <div class="content">
            <a class="header">Computer Science</a>
            <div class="description">
              I heard that most interviews have Computer Science related questions.
            </div>
          </div>
      </div>
    </div>
</div>

<% include ./partials/footer%>