<% include ./partials/header%>

<div class="ui main text container segment">
    <div class="ui huge header">
        Register
    </div>
    <form class="ui form" action="/register" method="POST">
        <div class=" two fields">
            <div class="field">
                <label> First Name </label>
                <input class="" type="text" name="name" placeholder="First name">
            </div>
            <div class="field">
                <label> Last Name </label>
                <input type="text" name="lastname" placeholder="Last name">
            </div>
        </div>
        <div class=" two fields">
            <div class="field">
                <label> Email </label>
                <input type="text" name="email" placeholder="Email">
            </div>
            <div class="field">
                <label> Username </label>
                <input type="text" name="username" placeholder="Username">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label> Password </label>
                <input type="password" name="password" minlength="6" maxlength="12" placeholder="Password">
            </div>
            <div class="field">
                <label> Admin </label>
                <input type="text" name="admin" placeholder="Admin Code" required>
            </div>
        </div>
        <div class="field">
            <label> Avatar Url </label>
            <input class="" type="text" name="avatar" placeholder="Avatar Url">
        </div>
        <div class="field" id="aboutMe-text">
            <label> About Me </label>
            <textarea name="aboutme" cols="2" rows="2" placeholder="Tell us about you" maxlength="100"></textarea>
        </div>
        <div id="max-char">
            <span>Max. 100 characters</span>
        </div>
        <button id="register-btn" class="ui green big inverted button">Register</button>
    </form>
    <a href="/blogs">Back</a>
</div>

<% include ./partials/footer%>