/* GENERAL */
i.icon {
    font-size: 2em;
}

body{
    box-sizing: border-box;
    min-height: 100vh;
}

.main-container{
    min-height: 75vh;
}
/* BLOGS PAGE */
.main-container {
    margin: 50px auto;
    margin-top: 75px;
    width: 75%;
    
}

/* BUTTONS */
.actions {
    display: inline;
    margin-right: 20px;
}

input#deleteComment {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    outline: none;
}

a#edit {
    color: #21ba45;
}

a#delete {
    color: #db2828;
}

a#readMore {
    color: #6435c9;
}

.btn-delete {
    display: inline-block;
}

.btn {
    margin-top: 10px;
}

.basic.button {
    min-width: 96px;
}


/* NavBar */
@media (min-width: 701px){
    #mobile{
        display: none;
        overflow: hidden;
    }
}

@media (max-width: 700px){
    .ui.sidebar {
        overflow: visible !important;
    }
    #desktop{
        display: none;
    }
}

.ui.sidebar {
    max-height: 50%;
}

.item.navbar > a {
    color: black;
}

.item.navbar:hover{
    background: rgba(0,0,0,.05)
}

i {
    margin-bottom: 2px;
}

.burger {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 5px;
}

#burger-container {
    position: fixed;
    width: 47px;
    height: 40px;
    border: 1px solid rgba(0,0,0,.87);
    top: 10px;
    left: 10px;
    background: rgba(0,0,0,.87);
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
}

.ui.vertical.menu .item>i.center{
    margin: -5px 0 0 .5em;
}

/* COMMENTS SHOW SECTION */
.ui.container.comments {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* MAIN SHOW SECTION */
#metadata-blogcreated{
    color: rgba(0,0,0,.4);
    font-size: .875em;
    float: right;
    margin-top: 20px;
    margin-bottom: 15px;
}

#blog-body{
    clear: both;
    margin-bottom: 20px;
}

#metadata-blogcreatedby {
    float: left;
    color: rgba(0,0,0,.4);
    font-size: .995em;
    margin-top: 20px;
}

.ui.fluid.image.show-img{
    height: 250px;
}

/* USERS ROUTE */
#avatar-users img{
    height: 150px;
}

.users-card{
    min-width: 150px;
    max-height: 340px;
    min-height: 340px;
}

.user-description{
    min-height: 60px;
}

/* register */
#aboutMe-text{
    margin-bottom: 0;
}

#max-char{
    margin-bottom: 10px;
    color: darkgray;
    float: right;
}

#register-btn {    
    margin-top: 25px;
    margin-bottom: 15px;
}

/* FLASH */
.ui.message.flash-msg {
    width: 74%;
    margin: 20px auto;
}

/* TAGS */
.tag-indexPage{
    float: right;
}

.ui.tag.label.tag-showPage {
    margin-left: 1.6rem;
}
