/* GENERAL */
i.icon {
    font-size: 2em;
}

body{
    box-sizing: border-box;
}

/* BLOGS PAGE */
.container.segment, .main.text.container {
    margin-top: 5em;
    width: 75%;
}

/* BUTTONS */
.actions {
    display: inline;
    margin-right: 20px;
}

input#deleteComment {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    outline: none;
}

a#edit {
    color: #21ba45;
}

a#delete {
    color: #db2828;
}

a#readMore {
    color: #6435c9;
}

.btn-delete {
    display: inline-block;
}

.btn {
    margin-top: 10px;
}

.basic.button {
    min-width: 96px;
}


/* NavBar */
@media (min-width: 701px){
    #mobile{
        display: none;
        overflow: hidden;
    }
}

@media (max-width: 700px){
    .ui.sidebar {
        overflow: visible !important;
    }
    .container.segment, .main.text.container {
        margin-top: 5em;
    }
    #desktop{
        display: none;
    }
}

.ui.sidebar {
    max-height: 50%;
}

.item.navbar > a {
    color: black;
}

.item.navbar:hover{
    background: rgba(0,0,0,.05)
}

i {
    margin-bottom: 2px;
}

.burger {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 5px;
}

#burger-container {
    position: fixed;
    width: 47px;
    height: 40px;
    border: 1px solid rgba(0,0,0,.87);
    top: 10px;
    left: 10px;
    background: rgba(0,0,0,.87);
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
}

.ui.vertical.menu .item>i.center{
    margin: -5px 0 0 .5em;
}

/* COMMENTS SHOW SECTION */
.ui.container.comments {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* MAIN SHOW SECTION */
#metadata-blogcreated{
    color: rgba(0,0,0,.4);
    font-size: .875em;
    float: right;
    margin-top: 20px;
    margin-bottom: 15px;
}

#blog-body{
    clear: both;
    margin-bottom: 20px;
}

#metadata-blogcreatedby {
    float: left;
    color: rgba(0,0,0,.4);
    font-size: .995em;
    margin-top: 20px;
}

/* USERS ROUTE */

.main-title {
    margin-top: 7em;
    margin-left: 75px;
}