i.icon {
    font-size: 2em;
}

.container.segment, .main.text.container {
    margin-top: 7em;
}

img {
    width: 500px;
    height: 300px;
}

a#edit {
    color: #21ba45;
}

a#delete {
    color: #db2828;
}

a#readMore {
    color: #6435c9;
}

.btn-delete {
    display: inline-block;
}

.btn {
    margin-top: 10px;
}

.basic.button {
    min-width: 96px;
}

/* Delete Button Comments */
.actions {
    display: inline;
    margin-right: 20px;
}

input#deleteComment {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    outline: none;
}


/* NavBar */
@media (min-width: 701px){
    .ui.left.vertical.sidebar.menu{
        display: none;
        overflow: hidden;
    }
    .burger-container{
        display: none;
    }
}

@media (max-width: 700px){
    .ui.fixed.menu{
        display: none;
    }
    .ui.sidebar {
        overflow: visible !important;
    }
    .container.segment, .main.text.container {
        margin-top: 4em;
    }
}
.ui.sidebar {
    max-height: 50%;

}

.item.navbar > a {
    color: black;
}

.item.navbar:hover{
    background: rgba(0,0,0,.05)
}

i {
    margin-bottom: 2px;
}

.burger {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 5px;
}

#burger-container {
    position: fixed;
    width: 47px;
    height: 40px;
    border: 1px solid rgba(0,0,0,.87);
    top: 10px;
    left: 10px;
    background: rgba(0,0,0,.87);
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
}

.ui.vertical.menu .item>i.center{
    margin: -5px 0 0 .5em;
}